@import 'variables';
@import 'mixins';

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body {
    background-image: linear-gradient( to left, $green, $blue)
}

header {
    height: 88px;
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        position: relative;
    }
    img {
        display: block;
    }
    .logo {
        width: 200px;
    }
    i{
        font-size: 30px;
    }
    ul {
        width: 100%;
        position: absolute;
        top: 88px;
        height: 0;
        background-image: linear-gradient( to left, $blue, $green);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 5px;
        transition: all .3s;
    }

    li {
        list-style: none;
        width: 100%;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: $black;
        font-weight: 500;
    }

    #menu-hamburguesa {
        display: none;
    }

    #menu-hamburguesa:checked + ul {
        height: 220px;
    }
    @include respond-to(tablet) {
       .logo {
        width: 400px;
       }
       i {
        font-size: 50px;
       }
       a {
        font-size: 35px;
       }
       #menu-hamburguesa:checked + ul {
        height: 440px;
        }
    }

    
}

main {
    padding: 10px;
    img:first-of-type {
        width: 100%;
        height: 250px;
    }
    h1{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
    a {
        text-decoration: underline;
        color: white;
        text-decoration-color: $green;
        margin-bottom: 20px;
    }
    p{
        color: $light-black;
        margin-bottom: 20px;
        font-weight: 200;
    }
    h2.home {
        text-align: center;
        font-size: 35px;
    }
    .cursos, .noticias {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2.home, h2 {
            text-align: center;
            font-size: 35px;
        }
        a {
            color:$black;
            text-decoration: none;
            font-size: 22px;
            font-weight: 500;
        }

        a.mas {
            display: block;
            font-size: 20px;
            font-weight: 500;
            text-decoration: underline;
            text-decoration-color: $green;
            text-decoration-thickness: 4px;
            
        }
        article:last-of-type {
            margin-bottom: 20px;
        }
        article {
            border: 1px solid black;
            padding: 10px;
        }

    }

    .registros {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px
        
    }
    .contacto {
        text-align: center;
        margin-bottom: 30px;
    }
    @include respond-to(tablet) {
        img:first-of-type{
            height: 400px;
        }
        h1 {
            font-size: 35px;
            line-height: 45px;
            font-weight: 800;
            margin-bottom: 40px;
        }
        h2 {
            font-size: 32px;
            font-weight: 600;
            text-align: center;
        }
        p {
            font-size: 22px;
            text-align: center;
        }
        .cursos,
        .noticias {
            p {
                text-align: start;
            }
            a,
            a.mas {
                font-size: 28px;
                text-align: start;
            }
            
        }
        .registros {
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            font-size: 30px;
            
        }
        .contacto {
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
        }
        
    }


    
}

main.quienes {
    h1{
        font-weight: 700;

    }
    h2{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin-bottom:35px;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    article {
        border: 1px solid black;
        padding: 10px;
        
    }

    @include respond-to(tablet) {
        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 25px;
            font-weight: 500px;
            text-align: center;
        }
        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "card1 card2"
              ".     card3";
            gap: 30px;

            .c1 {
                grid-area: card1;
              }
              
            .c2 {
                grid-area: card2;
              }
              
            .c3 {
                grid-area: card3;
                grid-column: 1 / span 2; 
                width: 500px;
                justify-self: center;  
              }
        }
        article {
            h3 {
                text-align: center;
                font-size: 25px;
            }
            em {
                display: block;
                text-align: center;
                font-size: 20px;
            }
            p {
                font-weight: 500;
            }
        }


    }
}

main.cursos {
    h1{
        font-weight: 700;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    article {
        border: 1px solid black;
        padding: 10px;
        
    }
    @include respond-to(tablet) {
        article {
            padding: 20px;
        }
        h3 {
            font-size: 30px;
            text-align: center;
        }
        p {
            font-weight: 500;
        }
        a {
            display: block;
            text-align: center;
            font-size: 25px;
        }
        
    }
    
}

main.blog {
   h1{
    font-weight: 700;
   }
   a{
    color: black;
    text-decoration: none;
   }
   
   section {
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   article {
    border: 1px solid black;
    padding: 10px;
    h3 {
        line-height: 22px;
    }
    }
    @include respond-to(tablet) {
        article {
            padding: 20px;
        
            h3 {
            font-size: 30px;
            text-align: center;
            line-height: 29px;
            }
        }
        p {
            font-weight: 500;
        }
        a {
            display: block;
            text-align: center;
            font-size: 25px;
        }
        
    }

}
.ali,.pp {
    text-align: center;
}

main.registros {
    h2{
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    form {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    }
    label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="url"],
    input[type="file"],
    input[type="password"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        box-sizing: border-box;
    }
  
    textarea {
    resize: vertical;
    }
    button {
        border-radius: 10px;
        padding: 8px;
        border: 1px solid #ccc;
    }

    button:hover {
        background-color: black;
        color: white;
    }
    @include respond-to(tablet) {
        form{
            max-width: 555px;
        }
    }
}   

main.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    form {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: auto;
    }
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    input[type="email"],
    input[type="text"],
    input[type="password"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        box-sizing: border-box;
    }
    button {
        border-radius: 10px;
        padding: 8px;
        border: 1px solid #ccc;
    }

    button:hover {
        background-color: black;
        color: white;
    }
    @include respond-to(tablet) {
        form {
            width: 555px;
        }
        iframe {
            width: 555px;
            height: 400px;
        }
    }

}

main.full {
    h1 {
        font-weight: 700;
        font-size: 24px;
    }
    div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        h3 + p {
            font-weight:400 ;
            color: $black;
        }
        }
        article:last-of-type {
            margin-bottom: 30px;
        }
        
    }
    @include respond-to(tablet) {
        h1{
            font-size: 30px;
        }
        h3 {
            font-size: 25px;
        }
        p{
            font-size: 20px;
            font-weight: 500;
        }
        section {
            h3{
                text-align: center;
                
            }
    
        }
        div {
            display: grid;
            grid-template-areas:
            "card1 card2"
            ".     card3";
            padding: 40px 0;
        }
        .a1 {
            grid-area: card1;
        }
        .a3 {
            grid-area: card3;
            grid-column: 1 / span 2; 
            justify-self: center;  
            width: 500px; 
        }
        .a2 {
            grid-area: card2;
          
        }
        p{
            font-size: 25px;
        }
    }
}

main.blogs {
    h1 {
        margin-bottom: 40px;
        
    }

    .autor {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        img:first-of-type {
            width: 60px;
            height: 60px;
        }    
    }
    
    #cuadrado {
        border-radius: 30px;
    }

    .listt{
        padding: 10px;
    }
    img {
        width: 350px;
        height: 200px;
        margin: 30px 0;
    }
    p {
        font-weight: 300;
    }
    @include respond-to(tablet) {
        iframe {
            width: 775px;
        }
        p {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }
}

div.redes {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        gap: 10px;
        
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: anchor-center;
    align-items: center;
    height: 200px;
    background-color: $black;
    margin-top: 50px;
    h2 {
        color: white;
    }
    
    img{
        width: 130px;
        margin-left: 20px;
    }
    p {
        color: white;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
    }

    @include respond-to(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: anchor-center;
    }
    img {
        width: 170px;
    }
    
}



